/*초기화-------------------*/
body {
    box-sizing: border-box;
}
.full-width {
    width: 100%;
}
.wrap {
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: white;
}
* {
    margin: 0;
    padding: 0;
}

/*header-------------------*/
header {
    width: 100%;
    height: 80px;
    position: fixed;
}
nav {
    max-width: 1100px;
    display: flex;
    height: 50px;
    line-height: 100px;
    justify-content: space-between;
}
#logo {
    width: 200px;
    line-height: 90px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
nav ul {
    display: flex;
    line-height: 80px;
}
nav ul li {
    align-items: center;
    margin: 0 20px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    list-style-type: none;
}
nav li a:hover {
    transition: 0.3s;
    color: rgb(107, 107, 199);
}
/*section1==============================*/
#section1 {
    height: 100vh;
    background-image: url('../img/Shooting_star.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#main {
    align-items: center;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
}
section {
    display: inline-block;
    width: 900px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    margin: 0 15px;
    text-align: center;
}

#sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 30px;
}
.inputForm {
    background-color: white;
    border-color: white;
    margin: 5px 0;
    padding-left: 10px;
    color: white;
}
.button {
    width: 270px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(250, 250, 250);
    color: white;
    transition: 0.3s;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.title {
    margin-bottom: 20px;
}
.middle_link {
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-width: 3px;
    margin: 0 5px;
    padding-left: 7px;
    padding-right: 7px;
}
#naver_google {
    margin-top: 30px;
}
#naver_google button {
    width: 170px;
    height: 40px;
    font-size: 15px;
}
#naver {
    background-color: rgb(30, 126, 30);
    color: white;
    border: none;
}
#google {
    background-color: rgb(11, 11, 87);
    color: white;
    border: none;
    margin-left: 10px;
}