/*초기화-------------------*/
body {
    box-sizing: border-box;
}
.full-width {
    width: 100%;
}
.wrap {
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: white;
}
* {
    margin: 0;
    padding: 0;
}

/*header-------------------*/
header {
    width: 100%;
    height: 80px;
    position: fixed;
}
nav {
    max-width: 1100px;
    display: flex;
    height: 50px;
    line-height: 100px;
    justify-content: space-between;
}
#logo {
    width: 200px;
    line-height: 90px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
nav ul {
    display: flex;
    line-height: 80px;
}
nav ul li {
    align-items: center;
    margin: 0 20px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    list-style-type: none;
}
nav li a:hover {
    transition: 0.3s;
    color: rgb(107, 107, 199);
}

/*section1-------------------------*/
#section1 {
    height: 100vh;
    background-image: url('../img/rocketbackimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: inherit;
}


/*footer===============================*/
footer {
    height: 10vh;
    background-color: black;
}
footer ul {
    height: 10vh;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li {
    color: white;
    margin: 0 3%;
}
footer li:hover {
    text-decoration: underline;
}